@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Rubik:wght@700&display=swap');

* {
   box-sizing: border-box;
}

body {
   font-family: 'Mulish', sans-serif;
   font-weight: 400;
   margin: 0;
   padding: 0;
 }

 html{
   scroll-behavior: smooth;
}



main{
   overflow: auto;
}
  
 h1, h2, h3 {
    color: #194350
 }
  
 footer {
    padding: 20px;
    color: #194350;
    background-color: #F6F9F8;
    text-align: center;
    font-weight: bold;
 }



 #Feature{
   padding: 6rem;
   background-color: #F6F9F8;
}




 .grid-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 5rem;
}

.midText{
   text-align: center;
   justify-content: center;
}

.featureDesc-1{
   font-family: 'Rubik', sans-serif;
   font-size: 2.5rem;
}

.featurePict{
   height: 500px;
}



.grid-child-uploadPict-1{
   text-align: right;
}


/* =====flex split===== */

.uploadPict-1{
   text-align: right;
}

.takepictBtn{
   color: white;
   background-color: #FF8882;
   display: flex;
   border-radius: 20px;
   padding: 20px;
   width: 235px;
   height: 66px;
}

.takePictTitle{
   margin: 0.2rem 1.5rem 0.2rem 1rem;
   font-size: 1.2rem;
}

.takePictImg{
   width: 25px;
   height: 25px;
   margin-top: 0.2rem;
}

.grid-child-uploadPict-2{
   text-align: left;
}

.uploadpictBtn{
   color: #FF8882;
   background-color: #194350;
   display: flex;
   border-radius: 20px;
   padding: 20px;
   width: 235px;
   height: 66px;
}

.uploadPictTitle{
   margin: 0.2rem 0.5rem 0.2rem 1rem;
   font-size: 1.2rem;
}

.uploadPictImg{
   width: 25px;
   height: 25px;
   margin-top: 0rem;
}






#About{
   padding: 6rem;
}

.aboutDesc-1{
   font-size: 2.5rem;
   font-family: 'Rubik', sans-serif;
}

.aboutPict{
   height: 450px;
}

.aboutCentered{
   padding-top: 8rem;
}


#ContactUs{
   padding: 6rem;
}

.contactusDesc-1{
   font-size: 2.5rem;
   font-family: 'Rubik', sans-serif;
}





@media screen and (max-width: 1000px) {
   #content,aside{
       width: 100%;
       padding: 0;
   }
}



/* ======================navbar=========================== */

nav a:hover {
   font-family: 'Mulish', sans-serif;
   color: #194350;
   font-weight: 800;
}

.navtitle{
   width: 210px;
   height: 75px;
}

 li, a{
   font-weight: bold;
   font-size: 18px;
   color: #FF8882;
   text-decoration: none;
   display: inline;
   margin-right: 25px;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 40px;
   background-color: #F6F9F8;
}

.logo {
   cursor: pointer;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
   position: fixed;
   top: 0;
   width: 100%;
 }

 table{
    background-color: #FF8882;
    color: #F6F9F8;
    border-color: #194350;
 }

 /* ================UPLOAD PICT HTML=================== */
.uploadHeadTilte{
   text-align: center;
   font-family: 'Rubik', sans-serif;
   font-size: 2.5rem;
   margin-top: 2rem;
}

form{
   margin-top: 5rem;
}


.ChooseBtn{
   border-style: hidden;
   border-radius: 5%;
   background-color: #FF8882;
   color: white;
}

#imgPrev{
   max-width: 30rem;
   max-height: 30rem;
}

footer2 {
   position:absolute;
   bottom:0;
   width:100%;
   padding: 20px;
   color: #194350;
   background-color: #F6F9F8;
   text-align: center;
   font-weight: bold;
 }
