@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Rubik:wght@700&display=swap');

* {
   box-sizing: border-box;
}

body {
   font-family: 'Mulish', sans-serif;
   font-weight: 400;
   margin: 0;
   padding: 0;
 }

 html{
   scroll-behavior: smooth;
}

/* header {
   display: inline;
   background-color: #F6F9F8;
} */

main{
   overflow: auto;
}
  
 h1, h2, h3 {
    color: #194350
 }
  
 footer {
    padding: 20px;
    color: #194350;
    background-color: #F6F9F8;
    text-align: center;
    font-weight: bold;
 }

 #Feature{
   padding: 6rem;
   background-color: #F6F9F8;
}




 .grid-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 5rem;
}

.midText{
   text-align: center;
   justify-content: center;
}

.featureDesc-1{
   font-family: 'Rubik', sans-serif;
   font-size: 2.5rem;
}

.featurePict{
   height: 500px;
}

.grid-container-uploadPict {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 10px;
   padding-top: 1.5rem;
}

.grid-child-uploadPict-1{
   text-align: right;
}

/* =====flex split===== */
/* .flex-uploadPict {
   display: flex;
}

.flex-child {
   flex: 1;
   border: 2px solid yellow;
}  

.flex-child:first-child {
   margin-right: 20px;
}  */
/* =====flex split===== */

.uploadPict-1{
   text-align: right;
}

.takepictBtn{
   color: white;
   background-color: #FF8882;
   display: flex;
   border-radius: 20px;
   padding: 20px;
   width: 235px;
   height: 66px;
}

.takePictTitle{
   margin: 0.2rem 1.5rem 0.2rem 1rem;
   font-size: 1.2rem;
}

.takePictImg{
   width: 25px;
   height: 25px;
   margin-top: 0.2rem;
}

.grid-child-uploadPict-2{
   text-align: left;
}

.uploadpictBtn{
   color: #FF8882;
   background-color: #194350;
   display: flex;
   border-radius: 20px;
   padding: 20px;
   width: 235px;
   height: 66px;
}

.uploadPictTitle{
   margin: 0.2rem 0.5rem 0.2rem 1rem;
   font-size: 1.2rem;
}

.uploadPictImg{
   width: 25px;
   height: 25px;
   margin-top: 0rem;
}






/* .float-child.green {
   margin-right: 20px;
   width: 40%;
   float: left;
}

.float-child.blue {
   float: right;
   width: 40%;
}




.flex-container {
   display: flex;
}

.flex-child {
   flex: 1;
   border: 2px solid yellow;
}  

.flex-child:first-child {
   margin-right: 20px;
}  */



#About{
   padding: 6rem;
}

.aboutDesc-1{
   font-size: 2.5rem;
   font-family: 'Rubik', sans-serif;
}

.aboutPict{
   height: 450px;
}

.aboutCentered{
   padding-top: 8rem;
}

/* .grid-container-uploadPict a:hover{
width: 200px;
} */

#ContactUs{
   padding: 6rem;
}

.contactusDesc-1{
   font-size: 2.5rem;
   font-family: 'Rubik', sans-serif;
}


/* #content {
   float: left;
   width: 75%;
} */

/* aside {
   float: right;
   width: 25%;
   padding-left: 20px;
} */

/* .asideRight{
   float: right;
   width: 50%;
}

.asideLeft{
   float: left;
   width: 50%;
} */

@media screen and (max-width: 1000px) {
   #content,aside{
       width: 100%;
       padding: 0;
   }
}


 /* .shadowbox {
   width: 70%;
   border: 1px solid #333;
   box-shadow: 8px 8px 5px #444;
   padding: 8px 12px;
   margin: 1rem;
   background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

.shadowbox>div{
   width: 100%;
   height: 30rem;
   overflow: hidden;
}

.shadowbox>div>img{
   width: inherit;
} */






/* .profile header {
   text-align: center;
}

.featured-image {
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   object-position: center;
}

.profile img {
   width: 200px;
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
}
*/


/* ======================navbar=========================== */

/* .jumbotron {
   font-size: 20px;
   color: #194350;
   font-weight: bold;
} 

nav a {
   font-size: 18px;
   text-decoration: none;
   color: #FF8882;
   font-weight: bold;
}


nav {
   background-color: #F6F9F8;
   padding: 5px;
   position: sticky;
   top: 0;
}

.navButton{
   text-align: center;
} */

nav a:hover {
   font-family: 'Mulish', sans-serif;
   color: #194350;
   font-weight: 800;
}

/* nav li {
   display: inline;
   list-style-type: none;
   margin-right: 20px;
} */

 /* .satu .dua */

.navtitle{
   width: 210px;
   height: 75px;
}

 li, a{
   font-weight: bold;
   font-size: 18px;
   color: #FF8882;
   text-decoration: none;
   display: inline;
   margin-right: 25px;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 40px;
   background-color: #F6F9F8;
}

.logo {
   cursor: pointer;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
   position: fixed;
   top: 0;
   width: 100%;
 }

