<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | Sweetect</title>
    <!--Cara load asset untuk Flask menggunakan url_for -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/styles/style.css') }}">
    </head>
<body>
    <header>
        <a href="/"><img class="navtitle" src="{{ url_for('static',filename='assets/image/Logo-Sweetect-nobg-2.png') }}" alt="logo"></a>
        <nav>
            <ul class="navlinks">
                <li><a href="#Feature">Feature</a></li>
                <li><a href="#Learn">Learn</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#ContactUs">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
         <div id="content">

            <article id="Feature" class="card">

                <div class="grid-container midText">

                    <div class="grid-child-1">
                        <img src="{{ url_for('static',filename='assets/image/image-removebg-preview.png') }}" class="featurePict">
                    </div>
                
                    <div id="aside" class="grid-child-2">

                        <div class="featureDesc-1">
                            <h1>Take care of <br> your lifestyle.</h1>
                        </div>

                        <div class="featureDesc-2">
                            <p>Check how many sugar and calories on your meals to achive a healthier lifestyle.</p>                            
                            <div>
                                <form method = "POST" enctype = "multipart/form-data" align="center" name="fileInfo" >
                                    <label for="files" class="pointer"><img src="{{ url_for('static',filename='assets/image/uploadPicture2.png') }}"></label>
                                    <br>
                                    <input accept="image/*" type='file' id="files" class="ChooseBtn" name="file" style="visibility:hidden;"/>
                                    <br>
                                    <input type="submit" class="submitBtn"></input> 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


           </article>

           <article id="Result" class="card">

            <div class="resultTitle">
                <h1 id = "foodDetected">Your Food</h1>
            </div>

            <div class="grid-container">


                <div class="grid-resultChild-1 midText ">

                    <div class="resultDesc-1">
                        <div>
                            <p class="howMany">
                                How many of this food are you eating? (g)
                            </p>
                        </div>
                        <div class="slidecontainer">
                            <input type="range" min="100" max="1000" value="100" class="slider" id="myRange">
                            <p class="">Value: <span id="demo"></span> g </p>
                          </div>
                        <div class="child-Titledesc-1">
                            <p class="sgrLvlTitle">Sugar Level:</p>
                        </div>

                        <div class="child-desc-1">
                            <p id="sugar" class="sgrLvl">0 g</p>
                        </div>

                        <div class="child-Titledesc-1-1">
                            <p class="clrLvlTitle">Calorie Level:</p>
                        </div>
    
                        <div class="child-desc-1-1">
                            <p id= "calorie" class="clrLvl">0 g</p>
                        </div>
                    </div>


                </div>
            
                <div class="grid-resultChild-2 midText">
                    <div class="bg-img-result">
                        <img id="imgPrev" src="#" alt="Food Image Preview" class="imagePrev" /> <br><br><br>
                        
                        
                    </div>
                     
                </div>
              
            </div>

                
           </article>

           <article id="Learn" class="card">

            <div class="grid-container">

                <div class="grid-child-1 midText aboutCentered">
                    <img src="{{ url_for('static',filename='assets/image/search.png') }}" class="aboutPict">
                    

                </div>
            
                <div class="grid-child-2 midText">
                    <div class="aboutDesc-1">
                        <h1>Did You Know?</h1>
                        <h2>463 Million</h2>
                        
                    </div>

                    <div class="learnDesc-2">
                        <p>People around the world are suffering from Diabetes (IDF, 2019)</p>
                        <p>The American Heart Association recommends no more than 6 teaspoons (25 grams) of added sugar a day 
                            for women and 9 teaspoons (36 grams) for men. Generally, the recommended daily calorie intake is 2,000 calories a day for women and 2,500 for men.</p>
                    </div>
                </div>
              
            </div>

                
           </article>
           
           <article id="About" class="card">

            <div class="grid-container">

                <div class="grid-child-1 midText aboutCentered">

                    <div class="aboutDesc-1">
                        <h1>About</h1>
                    </div>

                    <div class="aboutDesc-2">
                        <p> Sweetect is an application that could classify food images with their Sugar and Calorie level. 
                            <br> Sweetect is built using a machine learning model that is trained with the <a href="https://www.kaggle.com/dansbecker/food-101">Food101 Dataset.</a>
                        <br> Learn more on our <a href="https://github.com/ahimsa-imananda/sugar-and-calorie-detection-in-food">GitHub</a>
                        <br>
                    </p>
                    </div>

                </div>
            
                <div class="grid-child-2 midText">
                    <img src="{{ url_for('static',filename='assets/image/Food.png') }}" class="aboutPict">
                </div>
              
            </div>

                
           </article>
           
           <article id="ContactUs" class="midText">

                <div class="contactusDesc-1">
                    <h1>Contact Us</h1>
                </div>

                <div class="contactusDesc-2">

                    <table class="contList" align="center" border="1">
                        <address>
                            <tr>
                                <th><h3>Team ID</h3></th>
                                <th><h3>Machine Learning</h3></th>
                                <th><h3>Android Development</h3></th>
                                <th><h3>Cloud Computing</h3></th>
                            </tr>
                            <tr>
                                <td rowspan="2"><h3>B21-CAP0203</h3></td>
                                <td><a href="mailto: M3352994@bangkit.academy">Ahimsa Imananda</a></td>
                                <td><a href="mailto: A2292216@bangkit.academy">Ferdy Rahmaesa Suarial</a></td>
                                <td><a href="mailto: C3353001@bangkit.academy">Cut Aisyah Yunan</a></td>

                            </tr>
                            <tr>
                                <td><a href="mailto: M0060603@bangkit.academy">Adhi Setiawan</a></td>
                                <td><a href="mailto: A3142803@bangkit.academy">Ayuk Hidayanti</a></td>
                                <td><a href="mailto: C0050394@bangkit.academy">Pashadidan Fadhillah</a></td>
                            </tr>
                        </address>
                        
                        
                     </table>

                </div>

           </article>
        </div> 
    </main>

    <br>
    <footer>
        <p class="footer">SWEETECT: Sugar & Calories Detection &#169; 2021, Bangkit 2021</p>
     </footer>
     <script src="{{ url_for('static',filename='assets/styles/java.js') }}"></script>
     <script>
        var form = document.forms.namedItem("fileInfo");
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        var sugar = document.getElementById("sugar")
        var calorie = document.getElementById("calorie");
        var sugarValue = 0
        var calorieValue = 0
        form.addEventListener('submit', function(ev) {
        document.getElementById('foodDetected').innerHTML = "Please wait...."
        location.href="/#Result"
        var oData = new FormData(form);
        var oReq = new XMLHttpRequest();
        oReq.open("POST", "{{url_for('index')}}", true);
        oReq.onload = function(oEvent) {
            if (oReq.status == 200) {
                sugarValue = JSON.parse(oReq.responseText).sugar;
                calorieValue = JSON.parse(oReq.responseText).calorie;
            document.getElementById('foodDetected').innerHTML = "Your food is " + JSON.parse(oReq.responseText).label;
            sugar.innerHTML = + JSON.parse(oReq.responseText).sugar + " g";
            calorie.innerHTML =  + JSON.parse(oReq.responseText).calorie + " cal";
            } else {
            alert("Error ");
            }
        };
        oReq.send(oData);
        ev.preventDefault();
        }, false); 

output.innerHTML = slider.value;
slider.oninput = function() {
  output.innerHTML = this.value;
  sugar.innerHTML = (sugarValue * this.value/100) + " g";
  calorie.innerHTML= (calorieValue * this.value/100) + " cal";
}
</script>
</body>
</html>