<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Picture</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/styles/style.css') }}">
</head>
<body>

    <header>

        <a href="/"><img class="navtitle" src="{{ url_for('static',filename='assets/image/Logo-Sweetect-nobg-2.png') }}" alt="logo"></a>
        <nav>
            <ul class="navlinks">
                <li><a href="/#Feature">Featured</a></li>
                <li><a href="/#About">About</a></li>
                <li><a href="/#ContactUs">Contact</a></li>
            </ul>
        </nav>
        <a class="" href="#"></a>

    </header>

    <main>

        <!-- <form action="/action_page.php">
            <input type="file" id="myFile" name="filename">
            <input type="submit">
        </form> -->
        <div>
            <h1 class="uploadHeadTilte">Upload Your Picture</h1>

            <form method = "POST" enctype = "multipart/form-data" align="center" name="fileInfo" >
                <input accept="image/*" type='file' id="imgInp" class="ChooseBtn" name="file"/>
                <img id="imgPrev" src="#" alt="your image" />
                <input type="submit" class="submitBtn">
            </form>

        </div>

    </main>
    <!-- Put Slider here-->
    <div>How many grams of this food are you eating? 100g</div>
    <div>Food Detection:</div>
    <div id="foodDetected"></div>
    <div id="sugar"></div>
    <div id="calorie"></div>
    <br>
    <footer2>
        <p class="footer">Sugar & Calories Detection &#169; 2021, Bangkit 2021</p>
    </footer2>

    <script src="{{ url_for('static',filename='assets/styles/java.js') }}"></script>
    <!-- Script for getting the json for prediction-->
    <script>
        var form = document.forms.namedItem("fileInfo");
form.addEventListener('submit', function(ev) {
  var oData = new FormData(form);
  var oReq = new XMLHttpRequest();
  oReq.open("POST", "{{url_for('upload_file')}}", true);
  oReq.onload = function(oEvent) {
    if (oReq.status == 200) {
      document.getElementById('foodDetected').innerHTML = "Food Detected: " + JSON.parse(oReq.responseText).label
      document.getElementById('sugar').innerHTML = "Sugar: " + JSON.parse(oReq.responseText).sugar + " g"
      document.getElementById('calorie').innerHTML = "Calorie: " + JSON.parse(oReq.responseText).calorie + " cal"
    } else {
      alert("Error ");
    }
  };
  oReq.send(oData);
  ev.preventDefault();
}, false); 
    </script>
</body>
</html>