@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Rubik:wght@700&display=swap');

* {
   box-sizing: border-box;
}

body {
   font-family: 'Mulish', sans-serif;
   font-weight: 400;
   margin: 0;
   padding: 0;
 }

 html{
   scroll-behavior: smooth;
}

main{
   overflow: auto;
}
  
 h1, h2 {
    color: #194350
 }
  
 footer {
    padding: 20px;
    color: #194350;
    background-color: #F6F9F8;
    text-align: center;
    font-weight: bold;
 }


 /* =====================FEATURE===================== */

 #Feature{
   padding: 6rem;
   background-color: #F6F9F8;
}

 .grid-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 5rem;
}

.midText{
   text-align: center;
   justify-content: center;
}

.featureDesc-1{
   font-family: 'Rubik', sans-serif;
   font-size: 2.5rem;
}

.featurePict{
   height: 500px;
}

.grid-child-uploadPict-1{
   text-align: right;
}

.submitBtn{
   border-color: #FF8882;
   background-color: #FFFF;
   color: #FF8882;
   font-weight: bold;
   border-radius: 10%;
   font-size: 1rem;
   padding: 0.5rem;
   font-family: 'Mulish', sans-serif;
   cursor: pointer
}

.pointer{
   cursor: pointer
}
/* =====flex split===== */

.uploadPict-1{
   text-align: right;
}

/* .takepictBtn{
   color: white;
   background-color: #FF8882;
   display: flex;
   border-radius: 20px;
   padding: 20px;
   width: 235px;
   height: 66px;
}

.takePictTitle{
   margin: 0.2rem 1.5rem 0.2rem 1rem;
   font-size: 1.2rem;
}

.takePictImg{
   width: 25px;
   height: 25px;
   margin-top: 0.2rem;
} */

.grid-child-uploadPict-2{
   text-align: left;
}

/* ==================RESULT================== */

#result{
   padding: 6rem;
}

.resultTitle{
   text-align: center;
   font-family: 'Rubik', sans-serif;
   font-size: 2.5rem;
   margin-top: 2rem;
}

.resultDesc-1{
   text-align: center;
   font-family: 'Rubik', sans-serif;
   font-size: 2.5rem;
   color: #194350;
}

.howMany{
   font-size: 2rem;
   margin-left: 15rem;
}

.child-desc-1{
   background-color: #EBF2F1;
   margin-left: 15rem;
   margin-right: 5rem;
   padding: 1rem 0 1rem 0;
   font-size: 1rem;
}

.child-desc-1-1{
   margin-top: 1rem;
   background-color: #EBF2F1;
   margin-left: 15rem;
   margin-right: 5rem;
   padding: 1rem 0 1rem 0;
   font-size: 1rem;
}

.child-Titledesc-1{
   font-size: 1.5rem;
   text-align: left;
   margin-left: 15rem;
}

.child-Titledesc-1-1{
   font-size: 1.5rem;
   text-align: left;
   margin-left: 15rem;
}

.sgrLvl{
   text-align: left;
   margin-left: 2rem;
   font-size: 1.3rem;
}

.clrLvl{
   text-align: left;
   margin-left: 2rem;
   font-size: 1.3rem;
}

.grid-resultChild-2{
   margin-top: 1rem;
   margin-left: 2rem;

}

.imagePrev{
   margin: 5rem;
   border-radius: 5%;
}

.bg-img-result{
   background-color: #8ad5cb9c;
   width: 40rem;
   height: 30rem;
   border-radius: 20%;
}

form{
   margin-top: 5rem;
}

#imgPrev{
   width: 30rem;
   height: 20rem;
}


/* ==================ABOUT================== */

#About{
   padding: 6rem;
   margin-top: 5rem;
   background-color: #F6F9F8;
}

.aboutDesc-1{
   font-size: 2.5rem;
   font-family: 'Rubik', sans-serif;
}

.aboutPict{
   height: 450px;
}

.aboutCentered{
   padding-top: 6rem;
}



/* ==================CCONTACT US================== */

#ContactUs{
   padding: 6rem;
}

.contactusDesc-1{
   font-size: 2.5rem;
   font-family: 'Rubik', sans-serif;
}

@media screen and (max-width: 1000px) {
   #content,aside{
       width: 100%;
       padding: 0;
   }
}



/* ======================navbar=========================== */

nav a:hover {
   font-family: 'Mulish', sans-serif;
   color: #194350;
   font-weight: 800;
}

.navtitle{
   width: 210px;
   height: 75px;
}

 li, a{
   font-weight: bold;
   font-size: 18px;
   color: #FF8882;
   text-decoration: none;
   display: inline;
   margin-right: 25px;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 40px;
   background-color: #F6F9F8;
}

.logo {
   cursor: pointer;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
   position: fixed;
   top: 0;
   width: 100%;
 }

 table{
    /* background-color: #FF8882; */
    color: #194350;
    border-color: #FF8882;
 }

 .slidecontainer {
   width: 50%;
   font-size: 1.5rem;
   text-align: left;
   margin-left: 15rem;
 }
 
 .slider {
   -webkit-appearance: none;
   width: 100%;
   height: 25px;
   background: #d3d3d3;
   outline: none;
   opacity: 0.7;
   -webkit-transition: .2s;
   transition: opacity .2s;
 }
 
 .slider:hover {
   opacity: 1;
 }
 
 .slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 25px;
   height: 25px;
   background: #FF8882;
   cursor: pointer;
 }
 
 .slider::-moz-range-thumb {
   width: 25px;
   height: 25px;
   background: #FF8882;
   cursor: pointer;
 }